.card-container{
    width: 90%;
    height: 15vh;
    background-color:snow;
    border: 1px #9e9d9d solid;
    border-radius: 2%;
    margin: 5vh 0 5vh 0;
    padding: 3%;
    text-align: left;
    /* color: "red"*/
}


.avatar{
    float: left;
    max-width: 70%;
    max-height: 70%;
    border-radius: 50%;
    margin-right: 5%;
    /* padding-top: 100%; */
}

.name{
    width: 100%;
    height: 1.5rem;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.card-container .delete-btn{
    background-color: red;
    width: 30%;
    height: 25%;
    float: right;
    border: none;
    color: white;
    border-radius: 5%;
    font-family: 'Times New Roman', Times, serif;
}

.card-container .delete-btn:hover{
    background-color: rgb(97, 0, 0);
    color: white;
}
