.card-container{
    width: 90%;
    height: 18vh;
    background-color:snow;
    border: 1px #9e9d9d solid;
    border-radius: 2%;
    margin: 5vh 0 5vh 0;
    padding: 3%;
    text-align: left;
    /* color: "red"*/
}

.avatar{
    align-self: center;
    max-width: 40%;
    max-height: 40%;
    border-radius: 50%;
    /* padding-top: 100%; */
}

.name{
    width: 100%;
    height: 1.2rem;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}

.card-body Button .delete-btn{
    background-color: red;
    width: 30%;
    /* height: 25%; */
    float: right;
    border: none;
    color: white;
    border-radius: 5%;
    font-family: 'Times New Roman', Times, serif;
}

.card-container .delete-btn:hover{
    background-color: rgb(97, 0, 0);
    color: white;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .name{
        width: 100%;
        height: 1rem;
        font-size: 1rem;
        font-family: 'Times New Roman', Times, serif;
    }

    .avatar{
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .name{
        height: 1rem;
        font-size: 1rem;
    }

    .card-container{
        height: 30vh;
    }

    .card-container .delete-btn{
        width: 50%;
        float: right;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .name{
        height: 1.2rem;
        font-size: 1.2rem;
    }

    .card-container{
        height: 25vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .name{
        height: 1.4rem;
        font-size: 1.3rem;
        text-align: center;
    }

    .card-container{
        height: 34vh;
    }

    .avatar{
        width: 80%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .name{
        height: 1.6rem;
        font-size: 1.6rem;
    }

    .card-container{
        height: 15vh;
    }

    .card-container .delete-btn{
        width: 30%;
        float: right;
    }

    .avatar{
        width: auto;
        max-width: 70%;
        max-height: 70%;
        margin-right: 5%;
    }
}