
.Row{
    width: 100%;
    height: 20vh;
    display:flex;
    margin: 0vh 0 0vh 0;
}
.Col{
    display:flex;
    justify-content: center;
    width: 23vw;
}

.user-list-container{
    margin: 1vh 0 1vh 0;
}

.add-user{
    background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
    text-align: center;
    width: 100%;
}

.add-user .add-new-user-btn{
    background-color: rgb(33, 236, 33);
    align-self: start;
}


.popup .content input{
    background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
    width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .popup .content{
    background-color: #FFFFFF;
    display: flex;
    align-self: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin:auto;
	height: 100%;
    text-align: center;
    width: 40%;
  }