/* .pop-up-container{
    background-color: snow;
    position: absolute;
    width: 50%;
    height: 100vh;
    left: 25%;
    top: 5%;
    z-index:2;
    display: flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;
	padding: 0 0px;
    text-align: center;
} */
.pop-up-container .close{
    display: flex;
    align-self: center;
}

.pop-up-container img{
    max-width: 20%;
    margin: 5px;
}

.pop-up-container input{
    background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
    width: 30%;
}

.pop-up-container .close{
    align-self: flex-end;
}