.pop-up-container{
    background-color: snow;
    position: absolute;
    width: 50%;
    height: 70%;
    left: 25%;
    top: 10%;
    z-index:2;
    display: flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;
	padding: 0 50px;
    text-align: center;
}

.pop-up-container img{
    max-width: 20%;
    margin: 5px;
}

.pop-up-container input{
    background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
    width: 30%;
}

.pop-up-container .close{
    align-self: flex-end;
}